.SearchModal {
  background-color: var(--white);
  position: absolute;
  top: 30px;
  left: 5px;
  right: 5px;
  box-shadow: 0 0 10px var(--black);
  border-radius: 12px;
  min-height: 365px;
  max-height: 500px;
  overflow: auto;
}

@media (min-width: 768px) {
  .SearchModal {
    top: 20px;
    left: 20%;
    right: 20%;
  }
}

@media (min-width: 1024px) {
  .SearchModal {
    top: 20px;
    left: 30%;
    right: 30%;
  }
}
